<p id="notice"><%= notice %></p>

<h2><%= @cocktail.name %></h2>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
</thead>

<tbody>
  <% @cocktail.doses.each do |dose| %>
  <tr>
    <td><%= dose.description %></td>
    <td><%= dose.ingredient.name %></td>
    <td><%= link_to 'Delete', dose, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
 </tbody>

</table>

<br>
<div class=“container”>
<strong>Add a new dose</strong>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>

<br>
<%= link_to 'Back', cocktails_path %> |
<br>
<%= link_to 'New Cocktail', new_cocktail_path %>




